In [20]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt   
import folium 
import seaborn as sns 
plt.style.use('seaborn')
import plotly.express as px
import scipy.stats as stats

import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import KFold

from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
# import df with outliers from price and bedrooms removed 
df = pd.read_csv('housing_outliers_removed.csv')

In [5]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,1413158400000000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,1418083200000000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,1424822400000000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,1418083200000000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,1424217600000000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
columns = df.columns
columns

Index(['Unnamed: 0', 'id', 'date', 'price', 'bedrooms', 'bathrooms',
       'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition',
       'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [24]:
df.condition.nunique()

5

In [11]:
continuous = ['id', 'date', 'price', 'bedrooms', 'bathrooms',
              'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'sqft_basement',
              'yr_built', 'yr_renovated','zipcode', 'lat', 'long', 'sqft_living15',
              'sqft_lot15']

categoricals = ['grade', 'condition', 'waterfront', 'view']

df_cont = df[continuous]

In [29]:
# one hot encode categoricals
df_ohe = pd.get_dummies(df[categoricals], prefix=categoricals, drop_first=True)

KeyError: ('grade', 'condition', 'waterfront', 'view')

In [21]:
regression = LinearRegression()

preprocessed = pd.concat([df_cont, df_ohe], axis=1)

X = preprocessed.drop('price', axis=1)
y = preprocessed['price']

crossvalidation = KFold(n_splits=10, shuffle=True, random_state=1)
baseline = np.mean(cross_val_score(regression, X, y, scoring='r2', cv=crossvalidation))

baseline

0.48508639631957295

In [26]:
preprocessed

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,grade,condition,waterfront,view
0,7129300520,1413158400000000000,221900.0,3,1.00,1180,5650,1.0,1180,0,...,0,98178,47.5112,-122.257,1340,5650,7,3,0,0
1,6414100192,1418083200000000000,538000.0,3,2.25,2570,7242,2.0,2170,400,...,1991,98125,47.7210,-122.319,1690,7639,7,3,0,0
2,5631500400,1424822400000000000,180000.0,2,1.00,770,10000,1.0,770,0,...,0,98028,47.7379,-122.233,2720,8062,6,3,0,0
3,2487200875,1418083200000000000,604000.0,4,3.00,1960,5000,1.0,1050,910,...,0,98136,47.5208,-122.393,1360,5000,7,5,0,0
4,1954400510,1424217600000000000,510000.0,3,2.00,1680,8080,1.0,1680,0,...,0,98074,47.6168,-122.045,1800,7503,8,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20735,263000018,1400630400000000000,360000.0,3,2.50,1530,1131,3.0,1530,0,...,0,98103,47.6993,-122.346,1530,1509,8,3,0,0
20736,6600060120,1424649600000000000,400000.0,4,2.50,2310,5813,2.0,2310,0,...,0,98146,47.5107,-122.362,1830,7200,8,3,0,0
20737,1523300141,1403481600000000000,402101.0,2,0.75,1020,1350,2.0,1020,0,...,0,98144,47.5944,-122.299,1020,2007,7,3,0,0
20738,291310100,1421366400000000000,400000.0,3,2.50,1600,2388,2.0,1600,0,...,0,98027,47.5345,-122.069,1410,1287,8,3,0,0
20739,1523300157,1413331200000000000,325000.0,2,0.75,1020,1076,2.0,1020,0,...,0,98144,47.5941,-122.299,1020,1357,7,3,0,0