In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt   
import folium 
import seaborn as sns 
plt.style.use('seaborn')
import plotly.express as px
import scipy.stats as stats

In [9]:
df_zillow = pd.read_csv('/Users/andrewbanner/Downloads/Metro_invt_fs_uc_sfrcondo_smoothed_month.csv')

In [10]:
df_zillow

,RegionID,SizeRank,RegionName,RegionType,StateName,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30
0,102001,0,United States,Country,NaN,1509200.0,1418521.0,1376550.0,1433810.0,1520805.0,...,1534383.0,1429930.0,1378166.0,1400434.0,1383925.0,1400250.0,1393673.0,1412096.0,1376031.0,1322924.0
1,394913,1,"New York, NY",Msa,NY,73923.0,68490.0,68058.0,72656.0,79656.0,...,81040.0,74678.0,72234.0,74281.0,71746.0,69785.0,69231.0,75196.0,78928.0,80087.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,21989.0,20101.0,19923.0,21916.0,23889.0,...,25182.0,22396.0,21329.0,21875.0,21546.0,21955.0,22915.0,24917.0,25801.0,26049.0
3,394463,3,"Chicago, IL",Msa,IL,41713.0,37683.0,36251.0,39436.0,43386.0,...,45334.0,41182.0,39981.0,41559.0,41440.0,41759.0,42215.0,44400.0,44887.0,44030.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,26502.0,24299.0,23217.0,24356.0,26769.0,...,34514.0,32262.0,31316.0,31960.0,32035.0,32925.0,33378.0,34191.0,32985.0,30906.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,394586,504,"Faribault, MN",Msa,MN,NaN,NaN,NaN,NaN,NaN,...,257.0,225.0,211.0,220.0,235.0,254.0,259.0,273.0,269.0,270.0
117,394309,527,"Albemarle, NC",Msa,NC,243.0,235.0,232.0,244.0,253.0,...,243.0,217.0,205.0,210.0,210.0,208.0,200.0,192.0,180.0,173.0
118,394742,595,"Kerrville, TX",Msa,TX,391.0,373.0,359.0,354.0,364.0,...,395.0,381.0,371.0,372.0,366.0,360.0,360.0,368.0,364.0,346.0
119,395091,641,"Shelbyville, TN",Msa,TN,205.0,206.0,203.0,202.0,204.0,...,268.0,260.0,250.0,244.0,238.0,242.0,241.0,236.0,224.0,215.0
120,395230,672,"Wilmington, OH",Msa,OH,NaN,NaN,NaN,NaN,NaN,...,142.0,131.0,122.0,113.0,106.0,102.0,105.0,104.0,106.0,102.0